body {
  background: lightgray;
}

.form-control:focus {
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  padding-left: 3px;
  font-size: 14px
}

.profile-button {
  background: lightgray;
  float: right;
  color: #414141;
  font-weight: bold;
  box-shadow: none;
  border: none
}

.profile-button:hover {
  color: #414141;
  background: lightgray
}

.profile-button:focus {
  background: lightgray;
  color: #414141;
  box-shadow: none
}

.profile-button:active {
  background: #ddd;
  color: #414141;
  box-shadow: none
}

.delete-button {
  background: white;
  color: #414141;
  box-shadow: none;
  border: none;
  text-decoration: underline;
}

.delete-button:hover {
  color: #414141;
  background: white;
  box-shadow: none;
  border: none;
}

.delete-button:focus {
  background: white;
  color: #414141;
  box-shadow: none
}

.delete-button:active {
  background: white;
  color: #414141;
  box-shadow: none;
  border: none;
}
