h2 {
  font-family: Calibri;
  text-align: left;
}

.searchline {
  width: 60%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}


.searchsubmit {
  background-color: #CACCCC;
  border: 0px solid #26677A;
  color: #26677A;
  padding: 14px 32px;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
}

