<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Список сотрудников</title>
  <link rel="stylesheet" href="./res/list-employee.css">
</head>
<body>

<header>
    <a href="http://www.teamforce.ru/" >ГК Тимфорс</a>
</header>

<section>
  <nav class="section-left-header">
    <label>
      <form action="/search-employee">
        <input type="search" class="searchline" name="searchName" value="${searchName}" placeholder="для поиска введите часть имени и нажмите <Enter>" autofocus/>
      </form>	
    </label>
  </nav>
  <nav class="section-right-btn">
    <a href="add-employee" class="btn">Добавить</a>
  </nav>
</section>

<article class="all-employee">

  <#list employees as employee>
    <article class="employee">
	  <img class=employee-img src="./res/employee.png">
      <h2>${employee.getName()}</h2>
      <p> ${employee.getPosition().getName()} </p>
      <a href="list-employee/${employee.getId()}/detail-employee">Детали</a>
    </article>
  </#list>
</article>

<footer>
  <p>Проект Нагаева Р.А.</p>
</footer>

</body>
</html>
